<div id="banner">
  <h1>Explore. Book. Enjoy.</h1>
  <p>Botanical Gardens, Tropical Gardens, Yards and many more.</p>
  <%= link_to gardens_path do %>
  <div class="button">
    <p>Start exploring</p>
  </div>
  <% end %>
</div>


<div style="display: flex; justify-content: space-around;" id="down">
  <div id="circle">
    <a href="#down" style="color: black"><i class="fas fa-long-arrow-alt-down"></i></a>
  </div>
</div>


<div class="container">
  <div class="meet-hosts">
    <div style="display: flex">
      <h1 style="color: #3AB56E">Meet</h1><h1 style="color: transparent;">l</h1><h1>our hosts</h1>
    </div>
    <p>Our hosts come from all walks of life but they all have one thing in common. Their passion for gardens.</p>
    <div class="host-img-desc">
      <div class="host-img">
        <p style="display: none;">Displaynone</p>
      </div>
      <div class="host-desc">
        <h3 style="color: #3AB56E">Cassy Myers</h3>
        <p>Software Enginer</p>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo deleniti vitae sunt, iure dolorum perferendis architecto ab, labore aspernatur repudiandae temporibus. Odio neque porro dignissimos consequatur ut omnis, temporibus dolor ad iure, sit illo debitis ex officiis veniam nesciunt unde!</p>
      </div>
    </div>
  </div>
</div>


<div class="start-exploring">
  <div style="display: flex;">
    <h1>Gardens</h1><h1 style="color: transparent;">l</h1><h1 style="color: #3AB56E">all around the world</h1><h1 style="color: transparent;">l</h1><h1> available to you</h1>
  </div>
  <p>Discover our variety of gardens.</p>
    <div class="row">
      <% @gardens.each do |garden| %>
      <div class="col-sm-6 col-md-4 col-lg-4 home-card">
        <div class="home-card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path garden.photo %>')">
          <h2 style="color: white; margin-bottom: 0;"><%= garden.garden_type %></h2>
        </div>
      </div>
      <% end %>
    </div>
</div>


<div class="container">
  <div class="become-host">
    <div style="display: flex">
      <h1>Ready to</h1><h1 style="color: transparent;">l</h1><h1 style="color: #3AB56E">become a host?</h1>
    </div>
    <p>Do you have a love for gardens? Why don't you share it with others?</p>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4 host-third">
          <%= image_tag('form.svg') %>
          <p>Tell us about your garden. We're good listeners.</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 host-third">
          <%= image_tag('upload.svg') %>
          <p>Upload your garden and wait for others to see and book it.</p>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4 host-third">
          <%= image_tag('connect.svg') %>
          <p>Connect with people who appreciate your great efforts.</p>
        </div>
      </div>
      <div class="sign-up-in">
        <%= link_to new_garden_path do %>
          <div class="become-host-btn">
            <p style="margin: 0;">Become a host</p>
          </div>
        <% end %>
        <%= link_to new_user_session_path do %>
          <div class="sign-up-btn">
            <p style="margin: 0;">Sign up</p>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  const navbar = document.getElementById("nav");

window.onscroll = function(){
  if (window.pageYOffset > 80) {
    navbar.style.background = "white";
    console.log("Hello");
  }
  else {
    navbar.style.background = "transparent";
  }
}
</script>
