<div style="margin-top: 80px" class="container">
  <h3>We found <%= @gardens.count %> gardens for you</h3>

  <% @gardens.each do |garden| %>
    <%= link_to garden_path(garden) do %>
    <div class="garden-card">
      <div class="card-img">
        <p>img</p>
      </div>
      <div class="card-desc">
        <p><%= garden.garden_type %></p>
        <h6><%= garden.title %></h6>
        <p><%= garden.price %>$</p>
      </div>
    </div>
    <% end %>
  <% end %>
</div>




